<app-template-a [title]="title" [subtitle]="subtitle">
  <!-- Formulaire -->
  <div class="container">
    <app-form-client [init]="init" (submited)="onSubmit($event)"></app-form-client>
  </div>
  <!-- Fin Formulaire -->
</app-template-a>
