<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <!-- Optionnel binding routerLink avvec un ou deux paramètres (deuxième params correspond à un id) -->
    <a class="nav-link" [routerLink]="['prestations']" routerLinkActive="active">Prestation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/client" routerLinkActive="active">Clients</a>
  </li>
  <li class="nav-item">
    <button (click)="upgradeVersion()"> ++ version</button>
  </li>
</ul>
