<app-template-b [title]="title" [subtitle]="subtitle">
  <app-tableau-dark [headers]="headers">
    <tr *ngFor="let client of collectionClient">
      <td><img [src]="client.profil" /></td>
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.email }}</td>
      <!-- <td><button type="button" [appStateClient]="client.state" (click)="onClickButtonState()">{{client.state}}</button></td> -->
      <td [appState]="client.state">
        <select class="form-control" (change)="changeState(client, $event)">
          <!-- pipe keyvalue pour transformer les states en objet key:'', value:'' -->
          <option
            *ngFor="let state of states | keyvalue"
            [value]="state.value"
            [selected]="state.value === client.state"
          >
            {{ state.value }}
          </option>
        </select>
      </td>
    </tr>
  </app-tableau-dark>


  <app-button label="Ajouter un client" route="add"></app-button>


</app-template-b>
