@import 'theme';

// encapsule les trois classes suivantes, elles seront appliquées que si la classe tableau-dark est présente
.tableau-dark {
  td {
    vertical-align: middle;
  }
  .black {
    background-color: $dark-color;
  }
  .white {
    color: $light-color;
  }
  .state-inactif {
    background: $color-error;
  }
  .state-actif {
    background: $color-success;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

app-template-a {
  .tableau-dark {
    .state-option {
      background: $color2;
    }
  }
}
app-template-b {
  .tableau-dark {
    .state-option {
      background: $color1;
    }
  }
}

