<div class="table-responsive">
  <table class="table tableau-dark">
    <thead>
      <tr class="black">
        <th *ngFor="let itemPlus of headers" scope="col" class="white">{{ itemPlus }}</th>
      </tr>
    </thead>
    <tbody>
      <!-- Transclusion -->
      <ng-content></ng-content>

      <!-- Transclution multiple-->

      <!-- Transclusion en sélectionnant toutes les balises p -->
      <!-- <ng-content select="p"></ng-content> -->

      <!-- Transclusion en sélectionnant toutes les balises contenant la classe test -->
      <!-- <ng-content select="[class='test']"></ng-content> -->

      <!-- Transclusion en sélectionnant la balise contenant l'id testId -->
      <!-- <ng-content select="[id='testId']"></ng-content> -->


      <!-- Transclusion en sélectionnant toutes les balises contenant les attributs attrEx, coderBaseUi fonctionne comme cela -->
      <!-- <ng-content select="attrEx"></ng-content> -->

      <!-- Fin transclusion multiple -->

    </tbody>
  </table>
</div>
