<app-template-a [title]="title" [subtitle]="subtitle">
  <!-- Formulaire -->
  <div class="container" *ngIf="init$ | async as init">
    Formulaire
    <app-form-prestation [init]="init" (submited)="updateItem($event)"></app-form-prestation>
  </div>
  <!-- Fin Formulaire -->
</app-template-a>
