<ul class="nav">
  <li *ngFor="let item of sousRoutes" class="nav-item">
    <a
      class="nav-link active"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      {{ item.label }}
    </a>
  </li>
</ul>
