@import 'theme';
@import 'fonts';
img {
  width: 150px;
  height: 50px;
}
p {
  text-align: center;
  color: $color1;
  // font-size: $h2-fz;
  font-weight: bold;
}

fa-icon {
  color: $color-error;
}
