@import "theme";

// encapsule les trois classes suivantes, elles seront appliquées que si la classe tableau-light est présente
.tableau-light {
  td {
    vertical-align: middle;
  }
  .state-annule {
    background: $color-error;
  }
  .state-option {
    background: $color3;
  }
  .state-confirme {
    background: $color-success;
  }
}

// encapsulation
app-template-a {
  .tableau-light {
    .state-option {
      background: $color2;
    }
  }
}
// encapsulation
app-template-b {
  .tableau-light {
    .state-option {
      background: $color1;
    }
  }
}

// Voir tableau des priorités css avec les points
// h2 {
//   background: red;
// }
// // sélecteur de classe
// .green {
//   background: green;
// }
// // sélecteur d'attribut
// [class='green'] {
//   background: darkorchid;
// }
// // pseudo sélecteur
// h2:nth-child(2) {
//   background: orange;
// }
// h2#yellow {
//   background: yellow;
// }

// .htitle {}
// .hsubtitle {}
// .hlink {}
// .mtitle {}
// .msubtitle {}
// .mlink {}
// .ftitle {}
// .fsubtitle {}
// .flink {} 90 pts
// body > header h1 {}
// body > header h2 {}
// body > header a {}
// main h1 {}
// main h2 {}
// main a {}
// body > footer h1 {}
// body > footer h2 {}
// body > footer a {} 24pts
// [id="test"]
