@import 'theme';

a {
  display: inline-block;
  margin-left: 10px;
  color: $light-color;
  background: $dark-color;
  transition: all .5s;
  padding: .5rem;
  a:hover {
    background: darkan($dark-color, 15);
    text-decoration: none;
  }
}

// quand il y a du shadow DOM, lorsqu'il y a une encapsulation on peut utilier un selecteur d'angular
:host-context(app-template-a) a {
  background: $color2;
  a:hover {
    background: darkan($color2, 15)
  }
}
:host-context(app-template-b) a {
  background: $color1;
  a:hover {
    background: darkan($color1, 15)
  }
}
