<form [formGroup]="form" (ngSubmit)="onClick()">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" />
    <div
      class="alert alert-danger"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      Champ vide
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
      email="true"
    />
  </div>
  <div class="form-group">
    <label for="profil">Image</label>
    <input
      formControlName="profil"
      type="file"
      class="form-control-file"
      id="profil"
    />
  </div>
  <div class="form-group">
    <label for="state">state</label>
    <select formControlName="state" class="form-control" id="state"
      >{{
        states
      }}
      <option *ngFor="let state of states | keyvalue" [value]="state.value">
        {{ state.value }}
      </option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="form.get('state').invalid && form.get('state').touched"
    >
      Champ vide
    </div>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
    Ajouter le nouveau client
  </button>
</form>
