<app-template-a [title]="title" [subtitle]="subtitle">
  <app-tableau-light [headers]="headers">
    <!-- Pipe async utilisé uniquement pour afficher des données sans traitement -->
    <tr (click)="setFirstPresta(presta)" *ngFor="let presta of collection$ | async">
      <td>{{ presta.typePresta }}</td>
      <td>{{ presta.client }}</td>
      <td>{{ presta.nbJours }}</td>
      <td>{{ presta.tjmHt | currency: "EUR" }}</td>
      <td>{{ presta | total: "totalHt" | currency: "EUR" }}</td>
      <td>{{ presta | total: "totalTtc" | currency: "EUR" }}</td>
      <td [appState]="presta.state">
        <select (change)="changeState(presta, $event)" (click)="$event.stopPropagation()">
          <!-- pipe keyvalue pour transformer les states en objet key:'', value:'' -->
          <option
            *ngFor="let state of states | keyvalue"
            [value]="state.value"
            [selected]="state.value === presta.state"
          >
            {{ state.value }}
          </option>
        </select>
      </td>
      <td class="centerElementTd" (click)="editPresta(presta)">
        <fa-icon [icon]="faEdit"></fa-icon>
      </td>
      <td class="centerElementTd" (click)="$event.stopPropagation(); deletePresta(presta.id)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </td>
    </tr>
  </app-tableau-light>

  <app-button label="Ajouter une prestation" route="add"></app-button>
  <app-button label="Go to Google" href="http://www.google.com/"></app-button>
  <app-button
    label="Click me"
    [click]="true"
    (clicked)="popin($event)"
  ></app-button>

  <app-sous-nav [sousRoutes]="sousRoutes"></app-sous-nav>

  <!-- Permet d'indiquer où les composants des routes vont être appelés -->
  <router-outlet></router-outlet>

</app-template-a>
