<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <!-- Type prestation -->
  <div class="form-group">
    <label for="typePresta">Type de prestation</label>
    <input
      formControlName="typePresta"
      type="text"
      class="form-control"
      id="typePresta"
    />
    <div class="alert alert-danger" *ngIf="formGroup.get('typePresta').invalid && formGroup.get('typePresta').touched">Champ invalide</div>
  </div>
  <!-- Fin Type prestation -->

  <!-- Client -->
  <div class="form-group">
    <label for="client">Client</label>
    <input
      formControlName="client"
      type="text"
      class="form-control"
      id="client"
    />
    <div class="alert alert-danger" *ngIf="formGroup.get('client').invalid && formGroup.get('client').touched">Champ invalide</div>
  </div>
  <!-- Fin Client -->

  <!-- Nombre jours -->
  <div class="form-group">
    <label for="nbJours">Nombre de jours</label>
    <input
      formControlName="nbJours"
      type="number"
      class="form-control"
      id="nbJours"
    />
  </div>
  <!-- Fin Nombre jours -->

  <!-- Tjmht -->
  <div class="form-group">
    <label for="tjmHt">Tjmht</label>
    <input
      formControlName="tjmHt"
      type="number"
      class="form-control"
      id="tjmHt"
    />
  </div>
  <!-- Fin Tjmht -->

  <!-- Tva -->
  <div class="form-group">
    <label for="tva">Tva</label>
    <input formControlName="tva" type="text" class="form-control" id="tva" />
  </div>
  <!-- Fin Tva -->

  <!-- State -->
  <div class="form-group">
    <label for="state">State</label>
    <select formControlName="state" class="form-control" id="state">
      <option *ngFor="let state of states | keyvalue" [value]="state.value">
        {{ state.value }}
      </option>
    </select>
  </div>
  <!-- Fin State -->

  <!-- Commentaire -->
  <div class="form-group">
    <label for="comment">comment</label>
    <textarea formControlName="comment" class="form-control" id="comment">{{ formGroup.get('comment').value }}</textarea>
  </div>
  <!-- Fin Commentaire -->

  <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">
    Ajouter la nouvelle prestation
  </button>
</form>
